.moduleContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.moduleContainer .itemContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3.8125rem 4.1875rem;
    padding: 1rem 6.5rem;
}

.moduleContainer .label {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    color: #503232;
}