.appLayout {
    min-height: 100vh;
    background-color: #ffffff;
}

.appLayout .appHeader {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    background-color: #F6DDE1;
    padding: 0 6.375rem;
}

.appLayout .appHeader .appLogo {
    display: flex;
    align-items: center;
}

.appLayout .appHeader .action {
    display: flex;
    justify-content: flex-end;
}

.appLayout .appFooter .appFooterRibbon {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    background-color: #F6DDE1;
}

.appLayout .appFooter .appFooterRibbon {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    padding: 0.625rem 4rem;
    background-color: #F6DDE1;
    grid-template-columns: auto auto auto auto;
}

.appLayout .appFooter .appFooterRibbon .appFooterRibbonItem {
    display: flex;
    justify-content: flex-start;
}

.appLayout .appFooter .appFooterRibbon .appFooterRibbonItem .icon {
    height: 4rem;
    width: 4rem;
    border-radius: 4rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}

.appLayout .appFooter .appFooterRibbon .appFooterRibbonItem .label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    color: #351E1E;
}


.appLayout .appFooter .appFooterContentContainer {
    padding: 0 104px;
}

.appLayout .appFooter .appFooterContent {
    display: flex;
    padding-top: 14px;
    padding-bottom: 32px;
}

.appLayout .appFooter .appFooterContent .appFooterLogo {
    flex: 1
}

.appLayout .appFooter .appFooterContent .appFooterInfo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.appLayout .appFooter .appFooterContent .appFooterInfo .appFooterInfoBlock {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.appLayout .appFooter .appFooterContent .appFooterInfo .appFooterInfoBlock .label {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;

    color: #503232;
}

.appLayout .appFooter .appFooterContent .appFooterInfo .appFooterInfoBlock .subItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.appLayout .appFooter .appFooterContent .appFooterInfo .appFooterInfoBlock .subItem+.subItem {
    margin-top: 6px;
}

.appLayout .appFooter .appFooterContent .appFooterInfo .appFooterInfoBlock .subItem .subItemTag {
    margin-left: 6px;
    color: #503232;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}