.moduleContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.moduleContainer .itemContainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem 1rem;
    padding: 1rem 0;
}

.moduleContainer .label {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    color: #503232;
}

.subItemContainer {
    display: grid;
    grid-gap: 1rem 1rem;
    grid-template-columns: auto auto;
}