.item {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 16;
    border-bottom: 1px solid#646A76;
}

.item .image {
    height: 296px;
    width: 296px;
    margin-bottom: 10px;
}


.item .label {
    margin-top: 10px;
    margin-bottom: 2px;

}

.item .lastRow {
    display: flex;
    justify-content: space-between;
}

.item .lastRow .price {}

.item .lastRow .iconContainer {}